<h1>Всі наші пости</h1>
<% @post.each do |post| %>
  <div class="alert alert-light">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <%= link_to "Читати далі", post_path(post), :class => 'btn btn-outline-primary' %>
   </div>
   
<% end %>