<h2>Додаємо новий пост</h2>
<%= form_for :post, url: posts_path do |f| %>
  <p>
  Назва<br>
  <%= f.text_field :title %>
 </p>

 <p>
  Текст статті<br>
  <%= f.text_area :body %>
 </p>

 <p>
  <%= f.submit %>
 </p>
<% end %>